@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 0px; /* Safari and Chrome */
    background: transparent; /* Optional: just to ensure the track is transparent */
  }

  .sidebar {
    height: calc(100vh - 80px);
  }

.hxl {
    @apply text-2xl font-bold;
    line-height: auto;
    word-spacing: 1px;
}

.hl {
    @apply text-lg font-bold;
    line-height: auto;
    word-spacing: 1px;
}

.hm {
    @apply text-[0.938rem] font-bold;
    line-height: auto;
    word-spacing: 1px;
}

.hs {
    @apply text-xs font-bold tracking-[0.15rem];
    line-height: auto;
    word-spacing: 1px;
}

.bl {
    @apply font-medium text-[0.813rem];
    line-height: 1.438rem;
}

.bm {
    @apply font-bold text-xs;
    line-height: auto;
}